[submodule "libjpeg"]
	path = libjpeg
	url = https://github.com/mattchamb/libjpeg.git
[submodule "lensfun_webassembly"]
	path = lensfun_webassembly
	url = https://github.com/mattchamb/lensfun_webassembly.git
